* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica LT Std Light";
    color: white;
    font-weight: normal;
}

body{

    background-image: url("../img/bg1.jpg.jpg") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}


a {
    text-decoration: none;
    color: black;

}

/*HEADER*/
.logo {
    margin-top:4vmin;
    width: 100%;
    text-align: center;
    font-size: 5vmin;

    /*HEADER*/
}






/*SIDEBAR*/
.menu {
    font-size: 1.5vmin;
    position: fixed;
    margin-top: 10vmin;
    margin-left: 9vmin;

}

.column {
    margin-top:4vmin;
}
/*SIDEBAR*/

/*SIGNUP*/
.sign{
    margin-left:30%;
    margin-top:15%;
    font-size: 1.5vmin;
}

.sign h3 {
    word-spacing: 1vmin;
}
input[type=text]{
    background: rgba(0, 0, 0, 0.7);
    width: 32vmin;
    height: 2.3vmin;
    padding: 0.4vmin;
    font-size: 2vmin;
    border: solid 0.1vmin;
    text-align: center;



}



input[type=submit] {
    margin-top:1%;
    height: 3.25vmin;
    color: black;
    width: 10vmin;
    font-size: 2vmin;
    border: none 0.3vmin;
    background-color: #fff;
}

#falls_email{
    margin-top:1vmin;
}

#falls_email p{

    color: gray;
    font-size: 1.5vmin;
    width: 21vmin;
    text-align: center;

}


/*SIGNUP*/

/*BOTTTOM*/
.bottom_wrap{
    margin-top: 14%;

    margin-left: 40%;




}


.block1{
    display: inline-block;
    width: 20vmin;
    height: 20vmin;
    font-size: 2vmin;
    border:solid 0.1vmin;
}

.block2{

    display: inline-block;
    height: 20vmin;
    width: 30vmin;
    font-size: 2vmin;
    vertical-align:top;


}

.block2 button{
    height: 3.25vmin;
    color: black;
    width: 25vmin;
    font-size: 2vmin;
    border: none 0.3vmin;
    background-color: #fff;
    margin-left:2vmin;
}




.name_album{
    margin-bottom:2%;
    font-size: 1.5vmin;
    text-align: center;
    margin-top:2%;
    margin-top:20%;

}






/*BOTTTOM*/


/*FOOTER*/
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-bottom:2vmin;


}

.def{
    text-align: center;
    font-size: 1.3vmin;

}
/*FOOTER*/






/*ШРИФТЫ*/
@font-face {

    font-family: "Helvetica LT Std Light";

    src: url("../fonts/HelveticaLTStd-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/*ШРИФТЫ*/
.foot{
    position: absolute;
    top:9000px;
}